@{
    ViewData["Title"] = "Home Page";
    Layout= "~/Views/Shared/_LayoutOgani.cshtml";
}

<body>
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav">
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="TAnhChiTietSps" asp-action="Index">Home</a>
            </li> 
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="" asp-action="Index">Home</a>
            </li>
                 <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="TAnhChiTietSps" asp-action="Index">Home</a>
            </li>
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="" asp-action="Index">Home</a>
            </li>
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="TAnhChiTietSps" asp-action="Index">Home</a>
            </li>
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="" asp-action="Index">Home</a>
            </li>
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="TAnhChiTietSps" asp-action="Index">Home</a>
            </li>
            <li class="nav-head nav-item-home">
                <a class="nav-head" asp-area="" asp-controller="" asp-action="Index">Home</a>
            </li>

       </ul>
    </div>
</body>